h2{
    text-align: center;
    font-family: 'Encode Sans SC', sans-serif;
    font-size:2em;
    text-transform:lowercase;
    border-bottom: .05em solid black;
    padding-bottom: .5em;
    padding-top: 1px;
    margin: calc(10%/6);
}
h3{
    text-align: center;
    font-family: 'Encode Sans SC', sans-serif;
    font-size:1.5em;
    text-transform:lowercase;
    border-bottom: none;
    padding-bottom: .5em;
    padding-top: 1px;
    margin: calc(10%/6);
}
#home{
    margin: calc(10%/6);
    display: flex;
    justify-content: space-around;
}
#home button{
    text-decoration: none;
    text-transform:lowercase;
    font-family: 'Encode Sans SC', sans-serif;
    background: none;
    border: none;
    color: black;
    font-size: 3em;
    margin: 0em 1em;
    transition: .5s;

}
#navbar{
    margin: calc(10%/6);
    display: flex;
    justify-content: space-around;

}
#navbar button{
    text-decoration: none;
    text-transform:lowercase;
    font-family: 'Encode Sans SC', sans-serif;
    background: none;
    border: none;
    color: black;
    font-size: 2em;
    margin: 0em 1em;
    transition: .5s;
    
}
#navbar button:hover{
    transform:translateX(-.05em) translateY(-.05em) scale(102.5%);
}
.photo{
    width: 30%;
    margin: calc(10%/6);
    filter: grayscale(100%);
    transition: .5s;   
}
.photo:hover{
    filter: grayscale(0%);
    box-shadow: 25px 25px 2.5px black;
    transform:translateX(-25px) translateY(-25px) scale(102.5%);
}