*{

padding: 0;
margin: 0;
background-color: green;
}
#game{
    width: 500px;
    height: 200px;
}
#character{
    width: 20px;
    height: 20px;
    position: relative;
    image-rendering: pixelated;

}
#castle{
    width: 20px;
    height: 20px;
    position: relative;
    image-rendering: pixelated;

}
#charimg{
    width: 150%;
}
#castleimg{
    width: 150%;
}
